@model WineVM

<div class="card shadow border-0 my-4">
    <div class="card-header bg-secondary bg-gradient ml-0 py-3">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="text-white py-2">@(Model.Wine.Id != 0 ? "Update" : "Create") Wine</h2>
            </div>
        </div>
    </div>
    <div class="card-body p-4">
        <form method="post" class="row" enctype="multipart/form-data">
            <input asp-for="Wine.Id" hidden />
            <input asp-for="Wine.ImageUrl" hidden />
            <div class="row">
                <div class="col-10">
                    <div class="border p-3">
                        <div asp-validation-summary="ModelOnly"></div>
                        <div class="form-floating py-2 col-12">
                            <input asp-for="Wine.Name" class="form-control border-0 shadow" />
                            <label asp-for="Wine.Name" class="ms-2"></label>
                            <span asp-validation-for="Wine.Name" class="text-danger"></span>
                        </div>
                        <div class="form-floating py-2 col-12">
                            <input asp-for="Wine.Price" class="form-control border-0 shadow" />
                            <label asp-for="Wine.Price" class="ms-2"></label>
                            <span asp-validation-for="Wine.Price" class="text-danger"></span>
                        </div>

                        <div class="form-floating py-2 col-12">
                            <input asp-for="Wine.Price5" class="form-control border-0 shadow" />
                            <label asp-for="Wine.Price5" class="ms-2"></label>
                            <span asp-validation-for="Wine.Price5" class="text-danger"></span>
                        </div>
                        <div class="form-floating py-2 col-12">
                            <input asp-for="Wine.Price10" class="form-control border-0 shadow" />
                            <label asp-for="Wine.Price10" class="ms-2"></label>
                            <span asp-validation-for="Wine.Price10" class="text-danger"></span>
                        </div>
                        <div class="form-floating py-2 col-12">
                            <select asp-for="@Model.Wine.ColorId" asp-items="@Model.ColorList" class="form-select border-0 shadow">
                                <option disabled selected>--Select Color--</option>
                            </select>
                            <label asp-for="Wine.ColorId" class="ms-2"></label>
                            <span asp-validation-for="Wine.ColorId" class="text-danger"></span>
                        </div>
                        <div class="form-floating py-2 col-12">
                            <select asp-for="@Model.Wine.WineryId" asp-items="@Model.WineryList" class="form-select border-0 shadow">
                                <option disabled selected>--Select Winery--</option>
                            </select>
                            <label asp-for="Wine.WineryId" class="ms-2"></label>
                            <span asp-validation-for="Wine.WineryId" class="text-danger"></span>
                        </div>
                        <div class="form-floating py-2 col-12">
                            <select asp-for="@Model.Wine.StyleId" asp-items="@Model.StyleList" class="form-select border-0 shadow">
                                <option disabled selected>--Select Style--</option>
                            </select>
                            <label asp-for="Wine.StyleId" class="ms-2"></label>
                            <span asp-validation-for="Wine.StyleId" class="text-danger"></span>
                        </div>
                        <div class="mb-3 col-12">
                            <label asp-for="Wine.Volume"></label>(ML)
                            <input asp-for="Wine.Volume" class="form-control" />
                            <span asp-validation-for="Wine.Volume" class="text-danger"></span>
                        </div>
                        @if (User.IsInRole(SD.Role_Admin))
                        {
                            <div class="mb-3 col-6">
                                <label>Is in Clasifier?</label><br />
                                <label>Yes</label>
                                @Html.RadioButtonFor(m => m.Wine.IsInClasifier, "true", new { id = "input_Clasifier_True" })
                                <label>No</label>
                                @Html.RadioButtonFor(m => m.Wine.IsInClasifier, "false", new { id = "input_Clasifier_False", Checked = "checked" })
                            </div>

                            <div class="mb-3 col-6" id="Input_ClasifierId" style="display:none;">
                                <label asp-for="Wine.ClasifierId"></label>
                                <input asp-for="Wine.ClasifierId" class="form-control" />
                                <span asp-validation-for="Wine.ClasifierId" class="text-danger"></span>
                                @Html.ValidationMessage("CustomError", new { @class = "text-danger" })
                            </div>
                        }
                        <div class="form-floating py-2 col-12">
                            <input type="file" name="file" class="form-control border-0 shadow" />
                            <label asp-for="Wine.ImageUrl" class="ms-2"></label>
                        </div>
                        <div class="row pt-2">
                            <div class="col-6 col-md-3">
                                @if (Model.Wine.Id != 0)
                                {
                                    <button type="submit" class="btn btn-primary form-control">Update</button>
                                }
                                else
                                {
                                    <button type="submit" class="btn btn-primary form-control">Create</button>
                                }
                            </div>
                            <div class="col-6 col-md-3">
                                <a asp-controller="Wine" asp-action="Index" class="btn btn-outline-primary border  form-control">
                                    Back to List
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-2">
                    <img src="@Model.Wine.ImageUrl" width="100%" style="border-radius:5px; border:1px solid #bbb9b9" />
                </div>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        <partial name="_ValidationScriptsPartial" />
    }
    <script>
        $(document).ready(function () {
            $('#input_Clasifier_True').change(function () {
                $('#Input_ClasifierId').show();
            })
            $('#input_Clasifier_False').change(function () {
                $('#Input_ClasifierId').hide();
            })
        })
    </script>
}

