@model IEnumerable<Wine>

<form method="post" asp-action="Classify" enctype="multipart/form-data">
    <div class="mb-3 col-6">
        <label>ImageUrl</label>
        <input type="file" id="uploadBox" name="file" class="form-control" />
    </div>

    <button type="submit" onclick="return ValidateInput()" class="btn btn-primary" style="width:150px">Detect Wine</button>
</form>


<h2>Detactable Wines:</h2>
<div class="row pb-3">
    @foreach (var wine in Model)
    {
        <div class="col-lg-3 col-md-6">
            <div class="row p-2">
                <div class="col-12 p-1" style="border:1px solid #008cba; border-radius: 5px;">
                    <div class="card">
                        <img height="300" src="@wine.ImageUrl" class="card-img-top rounded" />
                        <div class="card-body">
                            <div class="pl-1">
                                <p class="card-title h5 text-primary">@wine.FullName, @wine.Color.Name, @wine.Style.Name</p>
                                <p class="card-title text-info"><b>@wine.Winery.Name</b></p>
                            </div>
                        </div>
                    </div>
                    <div>
                        <a asp-action="Details" class="btn btn-primary form-control" asp-route-wineId="@wine.Id">
                            Details
                        </a>
                    </div>
                </div>
            </div>
        </div>
    }
</div>


@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial" />
    }
    <script>
        function ValidateInput() {
            if (document.getElementById("uploadBox").value == "") {
                Swal.fire({
                    icon: 'error',
                    title: 'Oops...',
                    text: 'Please upload an Image!',
                });
                return false;
            }
            return true;
        }
    </script>
    }
